# A (data inspired) history of Digital Humanities Conferences

*This notebook by [Alice Corona](https://alice-corona.eu/) serves as the data diary in preperation for a class assignment for the 2020 course Introduction to Digital and Public Humanities of the [MA in Digital and Public Humanities at Ca'Foscari Univerity](https://www.unive.it/pag/38917/). The course is held by [Prof. Dall'Aglio](https://www.unive.it/data/persone/20962884) and [Prof. Fischer](https://www.unive.it/data/persone/21292086).*


## What is Digital Humanities? 
This question could be answered in a top-down manner, by providing a series of definitions and their evolution thorough time. Another approach to gain insight into this question looking at the issue from a **bottom-up perspective, by focusing on the practice: who are the people, what projects are being carried out and what topics are being researched, in the scholarly communities that self-identifies as affering to the digital humanities?**

One way - not the only way, of course - to begin addressing the issue is to look at Digital Humanities conferences. They won't provide information on all the ways in which the DH community operates, and in such they will only provide partial and biased insights. It is however one of the facets through which it is possible to explore the topic

## Main References
- Weingart, S.B., Eichmann-Kalwara, N., Lincoln, M., et al. "DH Conferences Data Extract" in The Index of Digital Humanities Conferences. Carnegie Mellon University, 2020. Data last updated 2020-10-04. [Accessible here](https://dh-abstracts.library.cmu.edu) (**Data source**)

- EICHMANN-KALWARA, NICKOAL, JEANA JORGENSEN, and SCOTT B. WEINGART. "Representation at Digital Humanities Conferences (2000–2015)." In Bodies of Information: Intersectional Feminism and the Digital Humanities, edited by Losh Elizabeth and Wernimont Jacqueline, 72-92. Minneapolis; London: University of Minnesota Press, 2018. Accessed October 4, 2020.
- Scott Weingart’s blog posts on [DH conferences 2013 - 2017](http://scottbot.net/tag/dhconf/)
- Frank Fischer’s blog posts on DH conferences [tools](https://weltliteratur.net/tools-mentioned-in-dh2020-abstracts/) and [impact](https://weltliteratur.net/measuring-impact-dh-conference-proceedings/)

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#A-(data-inspired)-history-of-Digital-Humanities-Conferences" data-toc-modified-id="A-(data-inspired)-history-of-Digital-Humanities-Conferences-1">A (data inspired) history of Digital Humanities Conferences</a></span><ul class="toc-item"><li><span><a href="#What-is-Digital-Humanities?" data-toc-modified-id="What-is-Digital-Humanities?-1.1">What is Digital Humanities?</a></span></li><li><span><a href="#Main-References" data-toc-modified-id="Main-References-1.2">Main References</a></span></li></ul></li><li><span><a href="#1.-All-conferences-monitored" data-toc-modified-id="1.-All-conferences-monitored-2">1. All conferences monitored</a></span><ul class="toc-item"><li><span><a href="#1a.-General-stats" data-toc-modified-id="1a.-General-stats-2.1">1a. General stats</a></span></li><li><span><a href="#1b.-Time-stats" data-toc-modified-id="1b.-Time-stats-2.2">1b. Time stats</a></span><ul class="toc-item"><li><span><a href="#I.-Conferences-monitored-per-year" data-toc-modified-id="I.-Conferences-monitored-per-year-2.2.1">I. Conferences monitored per year</a></span></li></ul></li><li><span><a href="#1c.-Geo-stats" data-toc-modified-id="1c.-Geo-stats-2.3">1c. Geo stats</a></span><ul class="toc-item"><li><span><a href="#I.-Top-10-cities-hosting-a-conference" data-toc-modified-id="I.-Top-10-cities-hosting-a-conference-2.3.1">I. Top 10 cities hosting a conference</a></span></li><li><span><a href="#II.-Top-10-countries-hosting-a-conference" data-toc-modified-id="II.-Top-10-countries-hosting-a-conference-2.3.2">II. Top 10 countries hosting a conference</a></span></li></ul></li><li><span><a href="#1d.-ADHO-focus" data-toc-modified-id="1d.-ADHO-focus-2.4">1d. ADHO focus</a></span><ul class="toc-item"><li><span><a href="#I.-ADHO-Conference-list" data-toc-modified-id="I.-ADHO-Conference-list-2.4.1">I. ADHO Conference list</a></span></li></ul></li></ul></li><li><span><a href="#2.-ADHO-Works" data-toc-modified-id="2.-ADHO-Works-3">2. ADHO Works</a></span><ul class="toc-item"><li><span><a href="#2a.-Overall-stats" data-toc-modified-id="2a.-Overall-stats-3.1">2a. Overall stats</a></span><ul class="toc-item"><li><span><a href="#I.-Top-10-keyword" data-toc-modified-id="I.-Top-10-keyword-3.1.1">I. Top 10 keyword</a></span></li><li><span><a href="#II.-Top-10-topics" data-toc-modified-id="II.-Top-10-topics-3.1.2">II. Top 10 topics</a></span></li></ul></li><li><span><a href="#2b.-Time-stats" data-toc-modified-id="2b.-Time-stats-3.2">2b. Time stats</a></span><ul class="toc-item"><li><span><a href="#I.-Top-10-topics-through-time" data-toc-modified-id="I.-Top-10-topics-through-time-3.2.1">I. Top 10 topics through time</a></span></li><li><span><a href="#II.-Top-10-keywords-through-time" data-toc-modified-id="II.-Top-10-keywords-through-time-3.2.2">II. Top 10 keywords through time</a></span></li></ul></li></ul></li><li><span><a href="#3.-ADHO-authors-and-affiliations" data-toc-modified-id="3.-ADHO-authors-and-affiliations-4">3. ADHO authors and affiliations</a></span><ul class="toc-item"><li><span><a href="#3a.-Overall-stats" data-toc-modified-id="3a.-Overall-stats-4.1">3a. Overall stats</a></span><ul class="toc-item"><li><span><a href="#I.-Top-10-ADHO-authors" data-toc-modified-id="I.-Top-10-ADHO-authors-4.1.1">I. Top 10 ADHO authors</a></span></li><li><span><a href="#II.-Top-10-institutions-of-ADHO-authors" data-toc-modified-id="II.-Top-10-institutions-of-ADHO-authors-4.1.2">II. Top 10 institutions of ADHO authors</a></span></li><li><span><a href="#III.-Top-10-countries-of-ADHO-authors'-institutions" data-toc-modified-id="III.-Top-10-countries-of-ADHO-authors'-institutions-4.1.3">III. Top 10 countries of ADHO authors' institutions</a></span></li></ul></li><li><span><a href="#3b.-Time-stats" data-toc-modified-id="3b.-Time-stats-4.2">3b. Time stats</a></span><ul class="toc-item"><li><span><a href="#I.-Top-10-countries-through-time" data-toc-modified-id="I.-Top-10-countries-through-time-4.2.1">I. Top 10 countries through time</a></span></li></ul></li></ul></li><li><span><a href="#4.-Tools-mentioned-in-ADHO-abstracts" data-toc-modified-id="4.-Tools-mentioned-in-ADHO-abstracts-5">4. Tools mentioned in ADHO abstracts</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#I.-Top-10-tools-2015---2019" data-toc-modified-id="I.-Top-10-tools-2015---2019-5.0.1">I. Top 10 tools 2015 - 2019</a></span></li></ul></li></ul></li><li><span><a href="#5.-Export-the-data-tables" data-toc-modified-id="5.-Export-the-data-tables-6">5. Export the data tables</a></span></li></ul></div>

In [26]:
# import libraries and set options

import pandas as pd
import numpy as np
from IPython.core.display import display, HTML

pd.options.display.max_rows = 999
pd.options.display.max_columns = 999
pd.set_option('display.max_colwidth', 0)

# 1. All conferences monitored

In [27]:
# import original datasets
conferences = pd.read_csv("data/conferences.csv")
series = pd.read_csv("data/conference_series.csv")
membership = pd.read_csv("data/conference_series_membership.csv")
hosting = pd.read_csv("data/conference_hosting_institution.csv")
organizer = pd.read_csv("data/conference_organizer.csv")
institutions = pd.read_csv("data/institutions.csv")
countries = pd.read_csv("data/countries.csv")

In [28]:
# make some summaries and aggregations
hosting = hosting.merge(institutions, left_on='institution',
                        right_on='id').drop(columns='id_y')
hosting_count = hosting.pivot_table(index='name',
                                    values='conference',
                                    aggfunc=pd.Series.nunique)

organizer = organizer.merge(institutions, left_on='organizer',
                            right_on='id').drop(columns='id_y')
organizer_count = organizer.pivot_table(index='name',
                                        values='conference',
                                        aggfunc=pd.Series.nunique)

membership = membership.merge(series, left_on='series', right_on='id')
membership = conferences.merge(membership,
                               left_on='id',
                               right_on='conference',
                               how='outer')
membership = membership.filter([
    'series', 'title', 'abbreviation', 'year', 'start_date', 'label', 'city',
    'country', 'conference'
],
                               axis=1)
membership = membership.merge(
    countries, left_on='country',
    right_on='id').drop(columns=['country', 'id', 'tgn_id'])
membership = membership.rename(columns={'pref_name': 'country'})

conferences_membership = membership.groupby(
    ['conference'])['abbreviation'].apply(' | '.join).reset_index()
conferences_membership_full = membership.groupby(
    ['conference'])['title'].apply(' | '.join).reset_index()
conferences = conferences.merge(conferences_membership,
                                left_on='id',
                                right_on='conference',
                                how='left')
conferences = conferences.merge(conferences_membership_full,
                                left_on='id',
                                right_on='conference',
                                how='left')
conferences = conferences.merge(countries,
                                left_on='country',
                                right_on='id',
                                how='left')
conferences = conferences[[
    'id_x', 'year', 'start_date', 'city', 'label', 'abbreviation', 'title',
    'pref_name'
]]
conferences.columns = [
    'id', 'year', 'start_date', 'city', 'label', 'series_abbreviation',
    'series_title', 'country'
]

## 1a. General stats

In [29]:
n_conferences = conferences['id'].nunique()
n_series = series['abbreviation'].nunique()
first_year = conferences['year'].min()
last_year = conferences['year'].max()
n_cities = conferences['city'].nunique()
n_hosts = len(hosting_count)
n_organizers = len(organizer_count)

In [63]:
display(
    HTML(
        'The full DH Conference Index dataset contains in total:<br><ul><li><b>'
        + str(n_conferences) + ' conferences</b>, part of</li><li><b>' +
        str(n_series) + '</b> different series, held between</li><li><b>' +
        str(first_year) + ' - ' + str(last_year) + '</b> in</li><li><b>' +
        str(n_cities) + ' different host cities</b>, by</li><li><b>' +
        str(n_hosts) + ' different hosting</b> institutions and </li><li><b>' +
        str(n_organizers) +
        ' different organizing</b> institutions.</li></ul>'))

## 1b. Time stats

In [31]:
# make some summaries and aggregations

year_viz = membership.pivot_table(index='abbreviation',
                                  columns='year',
                                  aggfunc={'year': 'count'},
                                  fill_value=0)
year_viz['total'] = year_viz.sum(axis=1)
col = year_viz.pop('total')
year_viz.insert(0, col.name, col)
year_viz = year_viz.sort_values('total', ascending=False)

### I. Conferences monitored per year

In [34]:
year_viz.head(10)

             total year                                                    \
year               1970 1972 1973 1974 1975 1976 1977 1978 1979 1980 1981
abbreviation
ALLC/EADH     31    1    1    0    1    0    1    0    1    0    1    0
DLF Forum     31    0    0    0    0    0    0    0    0    0    0    0
ACH/ICCH      27    0    0    1    0    1    0    1    0    1    0    1
AGE           25    0    0    0    0    0    0    0    0    0    0    0
DRHA          24    0    0    0    0    0    0    0    0    0    0    0
TEI           18    0    0    0    0    0    0    0    0    0    0    0
ACH/ALLC      18    0    0    0    0    0    0    0    0    0    0    0
WebWise       15    0    0    0    0    0    0    0    0    0    0    0
AHC           15    0    0    0    0    0    0    0    0    0    0    0
ADHO          15    0    0    0    0    0    0    0    0    0    0    0

                                                                               \
year         1982 1983 1984 1985 1986 1987 1988 1989 1990 1991 1992 1993 1994
abbreviation
ALLC/EADH     1    0    1    1    1    1    1    1    1    1    1    1    1
DLF Forum     0    0    0    0    0    0    0    0    0    0    0    0    0
ACH/ICCH      0    1    0    1    0    1    0    1    1    1    1    1    1
AGE           0    0    0    0    0    0    0    0    0    0    0    0    1
DRHA          0    0    0    0    0    0    0    0    0    0    0    0    0
TEI           0    0    0    0    0    0    0    0    0    0    0    0    0
ACH/ALLC      0    0    0    0    0    0    0    1    1    1    1    1    1
WebWise       0    0    0    0    0    0    0    0    0    0    0    0    0
AHC           0    0    0    0    1    1    1    1    1    1    1    1    1
ADHO          0    0    0    0    0    0    0    0    0    0    0    0    0

                                                                               \
year         1995 1996 1997 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007
abbreviation
ALLC/EADH     1    1    1    1    1    1    1    1    1    1    1    1    0
DLF Forum     0    0    0    0    1    2    2    2    2    2    2    2    2
ACH/ICCH      1    1    1    1    1    1    1    1    1    1    1    1    0
AGE           1    0    1    1    1    1    1    1    1    1    1    1    1
DRHA          0    1    1    1    1    1    1    1    1    1    1    1    1
TEI           0    0    1    0    0    0    1    1    1    1    1    1    1
ACH/ALLC      1    1    1    1    1    1    1    1    1    1    1    1    0
WebWise       0    0    0    0    0    1    1    1    1    1    1    1    1
AHC           1    1    0    1    0    0    1    0    1    0    1    0    0
ADHO          0    0    0    0    0    0    0    0    0    0    0    1    1

                                                                               \
year         2008 2009 2010 2011 2012 2013 2014 2015 2016 2017 2018 2019 2020
abbreviation
ALLC/EADH     0    0    0    0    0    0    0    0    0    0    1    0    0
DLF Forum     2    2    1    1    1    1    1    1    1    1    1    1    0
ACH/ICCH      0    0    0    0    0    0    0    0    0    0    0    1    0
AGE           1    1    1    1    1    1    1    1    1    1    1    1    0
DRHA          1    1    1    1    0    1    1    1    1    1    1    1    1
TEI           0    1    1    1    0    1    1    1    1    1    1    1    0
ACH/ALLC      0    0    0    0    0    0    0    0    0    0    0    0    0
WebWise       1    1    1    1    1    1    1    0    0    0    0    0    0
AHC           0    0    0    0    0    0    0    0    0    0    0    0    0
ADHO          1    1    1    1    1    1    1    1    1    1    1    1    1


year         2021
abbreviation
ALLC/EADH     0
DLF Forum     0
ACH/ICCH      0
AGE           0
DRHA          0
TEI           0
ACH/ALLC      0
WebWise       0
AHC           0
ADHO          0

## 1c. Geo stats

In [35]:
# make some summaries and aggregations

city_counts = membership.pivot_table(index='city',
                                     columns='year',
                                     aggfunc={'year': 'count'},
                                     fill_value=0)
city_counts['total'] = city_counts.sum(axis=1)
col = city_counts.pop('total')
city_counts.insert(0, col.name, col)
city_counts = city_counts.sort_values('total', ascending=False)

country_counts = membership.pivot_table(index='country',
                                        columns='year',
                                        aggfunc={'year': 'count'},
                                        fill_value=0)
country_counts['total'] = country_counts.sum(axis=1)
col = country_counts.pop('total')
country_counts.insert(0, col.name, col)
country_counts = country_counts.sort_values('total', ascending=False)

### I. Top 10 cities hosting a conference

In [36]:
city_counts.head(10)

                 total year                                                    \
year                   1960 1964 1965 1966 1967 1968 1969 1970 1972 1973 1974
city
Chicago           18    0    0    0    0    0    0    0    0    0    0    0
London            13    0    0    0    0    0    0    0    0    0    0    1
Washington, D.C.  11    0    0    1    0    0    0    0    0    0    0    0
Lawrence          11    0    0    0    0    0    0    1    0    0    0    0
New York          10    0    0    0    1    0    1    0    0    0    0    0
Taipei            10    0    0    0    0    0    0    0    0    0    0    0
Baltimore         8     0    0    0    0    0    0    0    0    0    0    0
Pittsburgh        8     0    1    0    0    1    0    0    0    0    0    0
Lincoln           8     0    0    0    0    0    0    0    0    0    0    0
Paris             8     0    0    0    0    0    0    0    0    0    0    0

                                                                              \
year             1975 1976 1977 1978 1979 1980 1981 1982 1983 1984 1985 1986
city
Chicago           0    0    0    0    0    0    0    0    0    0    0    0
London            0    0    0    1    0    0    0    0    0    0    0    1
Washington, D.C.  0    0    0    0    0    0    0    0    0    0    0    0
Lawrence          0    0    0    0    0    0    0    0    0    0    0    0
New York          0    0    0    0    0    0    0    0    0    0    0    0
Taipei            0    0    0    0    0    0    0    0    0    0    0    0
Baltimore         0    0    0    0    0    0    0    0    0    0    0    0
Pittsburgh        0    0    0    0    0    0    0    0    0    0    0    0
Lincoln           0    0    0    0    0    0    0    0    0    0    0    0
Paris             0    0    0    0    0    0    0    0    0    0    0    0

                                                                              \
year             1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998
city
Chicago           0    0    0    0    0    0    0    0    0    0    0    0
London            1    0    0    0    0    0    0    0    0    0    0    0
Washington, D.C.  0    0    0    0    0    0    3    0    0    0    0    0
Lawrence          0    0    0    0    0    0    0    0    0    0    0    0
New York          0    0    0    0    0    0    0    0    0    0    0    0
Taipei            0    0    0    0    0    0    0    0    0    0    0    0
Baltimore         0    0    0    0    0    0    0    0    0    0    0    0
Pittsburgh        0    0    1    0    0    0    0    0    0    0    0    0
Lincoln           0    0    0    0    0    0    0    0    0    0    0    0
Paris             0    0    0    0    0    0    0    3    0    0    0    0

                                                                              \
year             1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010
city
Chicago           0    1    0    2    0    1    0    1    1    1    1    2
London            2    0    1    1    0    1    0    0    0    0    0    2
Washington, D.C.  0    1    1    0    1    1    1    0    0    0    1    0
Lawrence          0    0    0    0    0    0    0    0    0    0    0    0
New York          0    0    3    0    1    0    0    0    0    0    0    0
Taipei            0    0    0    0    0    0    0    0    0    0    1    1
Baltimore         0    0    0    1    0    2    0    0    0    0    0    0
Pittsburgh        0    0    1    0    0    0    0    0    0    0    0    0
Lincoln           0    0    0    0    0    0    0    0    0    0    0    0
Paris             0    0    0    0    0    0    0    4    0    0    0    0


year             2011 2012 2013 2014 2015 2016 2017 2018 2019 2020 2021
city
Chicago           1    1    1    0    1    1    1    1    1    0    0
London            0    0    0    1    0    0    0    0    1    0    0
Washington, D.C.  0    0    0    0    0    0    0    0    0    1    0
Lawrence          1    1    1    1    1    1    1    2    1    0    0
New York          0    0    0    1    1    1    0    0    1    0    0
Taipei            1    1    0    1    1    1    1    1    1    0    0
Baltimore         2    1    1    1    0    0    0    0    0    0    0
Pittsburgh        0    0    0    0    0    1    1    0    2    0    0
Lincoln           0    0    2    1    1    1    1    2    0    0    0
Paris             0    0    1    0    0    0    0    0    0    0    0

### II. Top 10 countries hosting a conference

In [37]:
country_counts.head(10)

               total year                                                    \
year                 1960 1964 1965 1966 1967 1968 1969 1970 1972 1973 1974
country
United States   227   0    3    5    2    2    1    4    0    0    1    0
United Kingdom  57    0    0    0    0    0    0    0    1    1    0    2
Germany         43    1    0    0    0    0    0    0    1    0    0    0
Canada          23    0    0    0    0    0    0    0    0    0    0    0
France          22    0    0    0    0    0    0    0    0    0    0    0
Russia          18    0    0    0    0    0    0    0    0    0    0    0
Italy           15    0    0    0    0    0    0    0    1    0    0    0
Taiwan          11    0    0    0    0    0    0    0    0    0    0    0
Japan           10    0    0    0    0    0    0    0    0    0    0    0
Netherlands     10    0    0    0    0    0    0    0    0    0    0    0

                                                                            \
year           1975 1976 1977 1978 1979 1980 1981 1982 1983 1984 1985 1986
country
United States   1    0    0    0    2    0    2    0    3    0    2    1
United Kingdom  0    1    0    2    0    1    1    0    0    0    0    2
Germany         0    0    0    0    0    0    0    0    0    0    0    0
Canada          0    0    1    0    0    0    0    0    0    0    0    0
France          0    0    0    0    0    0    0    0    0    0    1    0
Russia          0    0    0    0    0    0    0    0    0    0    0    0
Italy           0    0    0    0    0    0    0    1    0    0    0    0
Taiwan          0    0    0    0    0    0    0    0    0    0    0    0
Japan           0    0    0    0    0    0    0    0    0    0    0    0
Netherlands     1    0    0    0    0    0    0    0    0    0    0    0

                                                                            \
year           1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998
country
United States   3    1    1    4    4    0    3    0    3    0    2    1
United Kingdom  1    1    1    2    1    4    1    2    0    1    1    2
Germany         0    2    0    0    0    0    0    1    1    0    1    1
Canada          0    0    3    0    0    0    0    0    1    0    3    0
France          0    0    1    2    0    0    0    3    0    0    0    0
Russia          0    0    0    0    0    0    1    1    1    2    1    1
Italy           0    0    0    0    0    1    0    0    0    0    0    0
Taiwan          0    0    0    0    0    0    0    0    0    0    0    0
Japan           0    0    0    0    0    0    0    0    0    0    0    0
Netherlands     0    0    0    0    0    0    0    1    0    0    0    0

                                                                            \
year           1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010
country
United States   5    4    7    5    7    5    4    5    8    6    8    5
United Kingdom  2    4    1    2    1    2    1    1    1    1    1    2
Germany         1    1    1    4    1    1    1    1    1    1    1    1
Canada          0    0    0    0    0    0    3    1    0    0    0    0
France          0    0    0    0    1    0    0    4    0    0    0    0
Russia          0    1    0    1    0    1    0    1    0    1    0    1
Italy           0    0    1    0    0    0    0    0    0    0    0    0
Taiwan          0    0    0    0    0    0    0    0    0    0    1    1
Japan           0    0    0    0    0    0    0    0    0    0    0    0
Netherlands     0    0    0    0    0    0    1    0    0    0    0    0


year           2011 2012 2013 2014 2015 2016 2017 2018 2019 2020 2021
country
United States   9    6    8    12   11   15   12   13   14   7    0
United Kingdom  0    1    1    2    0    2    1    1    1    1    0
Germany         1    2    1    2    2    2    1    3    4    2    0
Canada          0    0    1    0    2    0    3    2    2    1    0
France          0    0    1    1    2    1    2    2    1    0    0
Russia          0    1    1    0    0    0    2    1    0    0    0
Italy           0    1    2    1    1    1    1    1    2    1    0
Taiwan          1    1    0    1    1    1    1    2    1    0    0
Japan           1    1    1    1    1    1    1    2    1    0    0
Netherlands     0    0    0    1    1    0    2    1    1    1    0

## 1d. ADHO focus
The [Alliance of Digital Humanities Organization](https://adho.org/about) is the biggest umbrella organization in the field of digital humanities, with member organization located across the globe. For this reason, it is particularly interesting to focus on this specific conference series.

In [38]:
adho = membership.loc[(membership['abbreviation'] == 'ADHO')]

### I. ADHO Conference list

In [39]:
adho.head(20)

,series,title,abbreviation,year,start_date,label,city,conference,country
3,1.0,ADHO Annual Conference,ADHO,2010,2010-07-07,2010 - King's College,London,11.0,United Kingdom
63,1.0,ADHO Annual Conference,ADHO,2007,2007-06-02,2007 - Urbana-Champaign,Urbana-Champaign,8.0,United States
64,1.0,ADHO Annual Conference,ADHO,2009,2009-06-20,2009 - UMD College Park,College Park,10.0,United States
65,1.0,ADHO Annual Conference,ADHO,2011,2011-06-19,2011 - Stanford,Stanford,12.0,United States
66,1.0,ADHO Annual Conference,ADHO,2013,2013-07-16,2013 - Nebraska,Lincoln,14.0,United States
287,1.0,ADHO Annual Conference,ADHO,2012,2012-07-16,2012 - Hamburg,Hamburg,13.0,Germany
335,1.0,ADHO Annual Conference,ADHO,2017,2017-08-08,2017 - Montréal,Montréal,18.0,Canada
354,1.0,ADHO Annual Conference,ADHO,2020,2020-07-20,2020 - Ottawa,Ottawa,495.0,Canada
355,1.0,ADHO Annual Conference,ADHO,2006,2006-07-05,2006 - Sorbonne,Paris,7.0,France
377,1.0,ADHO Annual Conference,ADHO,2008,2008-06-25,2008 - Oulu,Oulu,9.0,Finland
379,1.0,ADHO Annual Conference,ADHO,2014,2014-07-07,2014 - Lausanne,Lausanne,15.0,Switzerland
382,1.0,ADHO Annual Conference,ADHO,2015,2015-06-29,2015 - Sydney,Sydney,16.0,Australia
387,1.0,ADHO Annual Conference,ADHO,2016,2016-07-11,2016 - Kraków,Kraków,17.0,Poland
389,1.0,ADHO Annual Conference,ADHO,2018,2018-06-26,2018 - Mexico City,Mexico City,20.0,Mexico
395,1.0,ADHO Annual Conference,ADHO,2019,2019-07-09,2019 - Utrecht,Utrecht,23.0,Netherlands

# 2. ADHO Works

In [40]:
# import original datasets
works = pd.read_csv("data/works.csv")
authorships = pd.read_csv("data/authorships.csv")
appellations = pd.read_csv("data/appellations.csv")
affiliations = pd.read_csv("data/affiliations.csv")

keyword_list = pd.read_csv("data/keywords.csv")
topic_list = pd.read_csv("data/topics.csv")
languages_list = pd.read_csv("data/languages.csv")

works_keywords = pd.read_csv("data/works_keywords.csv")
works_topics = pd.read_csv("data/works_topics.csv")
works_languages = pd.read_csv("data/works_languages.csv")

In [41]:
# filter data for ADHO conferences
adho_conferences = membership.loc[(
    membership['series'] == 1)]['conference'].tolist()
adho_works = works.loc[(works['conference'].isin(adho_conferences))]
adho_works_id = adho_works['id'].tolist()
adho_works = adho_works.merge(conferences,
                              left_on='conference',
                              right_on='id',
                              how='left')
adho_works = adho_works[[
    'id_x', 'title', 'work_type', 'conference', 'label', 'year', 'city',
    'country', 'series_abbreviation', 'series_title'
]]
adho_works = adho_works.rename(
    {
        'id_x': 'work_id',
        'conference': 'conference_id'
    }, axis=1)

In [42]:
# make some summaries and aggregations: keywords
adho_keywords = works_keywords.loc[(
    works_keywords['work'].isin(adho_works_id))]
adho_keywords = adho_keywords.merge(keyword_list,
                                    left_on='keyword',
                                    right_on='id').drop(columns='id_y')
adho_keywords = adho_keywords.merge(adho_works,
                                    left_on='work',
                                    right_on='work_id',
                                    how='left')
adho_keywords = adho_keywords.rename(
    {
        'keyword': 'keyword_id',
        'title_x': 'keyword',
        'title_y': 'work_title',
    },
    axis=1)
adho_keywords = adho_keywords.drop(['id_x', 'work'], axis=1)

# a. keywords rankings
adho_keywords_counts = adho_keywords.groupby(['keyword']).size().reset_index()
adho_keywords_counts.columns = ['keyword', 'value']
adho_keywords_counts['percentage'] = round(
    ((adho_keywords_counts['value'] /
      (adho_keywords_counts['value'].sum())) * 100), 2)
adho_keywords_counts = adho_keywords_counts.sort_values('value',
                                                        ascending=False)

# b. keywords through time
adho_keywords_time = adho_keywords[[
    'keyword_id', 'keyword', 'work_id', 'year'
]]
adho_keywords_time_matrix = adho_keywords_time.pivot_table(
    index='keyword', columns='year', aggfunc={
        'year': 'count'
    }).reset_index().fillna(0)
adho_keywords_time_matrix['total'] = adho_keywords_time_matrix.sum(axis=1)
adho_keywords_time_matrix = adho_keywords_time_matrix.sort_values(
    'total', ascending=False)
adho_keywords_time_matrix.columns = [
    'keyword', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020',
    'total'
]

In [43]:
# make some summaries and aggregations: topics
adho_topics = works_topics.loc[(works_topics['work'].isin(adho_works_id))]
adho_topics = adho_topics.merge(topic_list, left_on='topic',
                                right_on='id').drop(columns='id_y')
adho_topics = adho_topics.merge(adho_works,
                                left_on='work',
                                right_on='work_id',
                                how='left')
adho_topics = adho_topics.rename(
    {
        'topic': 'topic_id',
        'title_x': 'topic',
        'title_y': 'work_title',
    },
    axis=1)
adho_topics = adho_topics.drop(['id_x', 'work'], axis=1)

# a. keywords rankings
adho_topics_counts = adho_topics.groupby(['topic']).size().reset_index()
adho_topics_counts.columns = ['topic', 'value']
adho_topics_counts['percentage'] = round(
    ((adho_topics_counts['value'] /
      (adho_topics_counts['value'].sum())) * 100), 2)
adho_topics_counts = adho_topics_counts.sort_values('value', ascending=False)

# b. keywords through time
adho_topics_time = adho_topics[['topic_id', 'topic', 'work_id', 'year']]
adho_topics_time_matrix = adho_topics_time.pivot_table(
    index='topic', columns='year', aggfunc={
        'year': 'count'
    }).reset_index().fillna(0)
adho_topics_time_matrix['total'] = adho_topics_time_matrix.sum(axis=1)
adho_topics_time_matrix = adho_topics_time_matrix.sort_values('total',
                                                              ascending=False)
adho_topics_time_matrix.columns = [
    'keyword', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020',
    'total'
]

## 2a. Overall stats

In [44]:
adho_n_titles = adho_works['work_id'].nunique()
adho_n_topics = len(adho_topics_counts)
adho_n_keywords = len(adho_keywords_counts)

In [62]:
display(
    HTML('The ADHO filtered dataset contains in total:<br> <ul><li><b>' +
         str(adho_n_titles) + ' works</b>, tagged with</li><li><b>' +
         str(adho_n_keywords) + '</b> different keywords, across</li><li><b>' +
         str(adho_n_topics) + '</b> different topics.</li></ul>'))

### I. Top 10 keyword

In [47]:
adho_keywords_counts.head(10)

                 keyword  value  percentage
5969  visualization       119    0.95
1315  collaboration       103    0.82
4408  pedagogy            90     0.72
5488  tei                 78     0.62
5530  text analysis       75     0.60
3713  machine learning    65     0.52
741   annotation          65     0.52
5557  text mining         64     0.51
2966  history             64     0.51
1995  digital humanities  61     0.49

### II. Top 10 topics

In [48]:
adho_topics_counts.head(10)

,topic,value,percentage
107,english,1435,6.99
179,literary studies,629,3.07
16,"archives, repositories, sustainability and preservation",477,2.32
57,data mining / text mining,458,2.23
264,text analysis,457,2.23
141,historical studies,417,2.03
55,cultural studies,388,1.89
280,visualization,363,1.77
173,library & information science,350,1.71
41,contemporary,307,1.50

## 2b. Time stats

### I. Top 10 topics through time

In [49]:
adho_topics_time_matrix.head(10)

,keyword,2013,2014,2015,2016,2017,2018,2019,2020,total
107,english,0.0,0.0,273.0,0.0,0.0,273.0,426.0,463.0,1435.0
179,literary studies,46.0,73.0,53.0,87.0,125.0,81.0,61.0,103.0,629.0
16,"archives, repositories, sustainability and preservation",34.0,68.0,50.0,96.0,93.0,79.0,57.0,0.0,477.0
57,data mining / text mining,43.0,64.0,54.0,95.0,95.0,37.0,70.0,0.0,458.0
264,text analysis,35.0,79.0,67.0,114.0,106.0,56.0,0.0,0.0,457.0
141,historical studies,25.0,55.0,36.0,103.0,105.0,93.0,0.0,0.0,417.0
55,cultural studies,20.0,42.0,26.0,52.0,92.0,86.0,33.0,37.0,388.0
280,visualization,30.0,56.0,57.0,80.0,74.0,66.0,0.0,0.0,363.0
173,library & information science,0.0,0.0,0.0,0.0,142.0,84.0,51.0,73.0,350.0
41,contemporary,0.0,0.0,0.0,0.0,0.0,0.0,0.0,307.0,307.0

### II. Top 10 keywords through time

In [51]:
adho_keywords_time_matrix.head(10)

,keyword,2013,2014,2015,2016,2017,2018,2019,2020,total
5969,visualization,20.0,15.0,15.0,10.0,22.0,13.0,15.0,9.0,119.0
1315,collaboration,4.0,19.0,13.0,13.0,19.0,11.0,14.0,10.0,103.0
4408,pedagogy,6.0,8.0,8.0,12.0,24.0,9.0,9.0,14.0,90.0
5488,tei,11.0,14.0,13.0,11.0,6.0,6.0,16.0,1.0,78.0
5530,text analysis,7.0,12.0,10.0,11.0,14.0,6.0,7.0,8.0,75.0
3713,machine learning,2.0,4.0,4.0,9.0,5.0,9.0,13.0,19.0,65.0
741,annotation,7.0,9.0,4.0,9.0,11.0,6.0,12.0,7.0,65.0
5557,text mining,6.0,9.0,6.0,9.0,11.0,4.0,7.0,12.0,64.0
2966,history,5.0,8.0,3.0,7.0,10.0,14.0,8.0,9.0,64.0
1995,digital humanities,5.0,5.0,8.0,13.0,7.0,5.0,13.0,5.0,61.0

# 3. ADHO authors and affiliations

In [52]:
# import original datasets
authorship_affiliations = pd.read_csv("data/authorship_affiliation.csv")

In [53]:
# make some summaries and aggregations: authors and institutions
works_authors_institutions = authorships.merge(
    appellations, left_on='appellation', right_on='id',
    how='left').drop(columns=['authorship_order']).drop(columns=['id_y'])
works_authors_institutions['full_name'] = works_authors_institutions['first_name'] + \
    ' ' + works_authors_institutions['last_name'].drop(columns=['id_y'])
works_authors_institutions = works_authors_institutions.merge(
    authorship_affiliations, left_on='id_x', right_on='authorship',
    how='left').drop(columns=['id', 'authorship'])
works_authors_institutions = works_authors_institutions.merge(
    affiliations, left_on='affiliation', right_on='id',
    how='left').drop(columns=['id', 'department'])
works_authors_institutions = works_authors_institutions.merge(
    institutions, left_on='institution', right_on='id',
    how='left').drop(columns=['id', 'city', 'state_province_region'])
works_authors_institutions = works_authors_institutions.merge(
    countries, left_on='country', right_on='id',
    how='left').drop(columns=['id', 'country', 'id', 'tgn_id'])
works_authors_institutions = works_authors_institutions.rename(
    columns={
        "name": "institution_name",
        "pref_name": "institution_country",
        'id_x': 'id',
        'author': 'author_id',
        'work': 'work_id',
        'appellation': 'appellation_id',
        'affiliation': 'affiliation_id',
        'institution': 'institution_id'
    })
works_authors_institutions = works_authors_institutions.fillna('')

In [54]:
# filter data for ADHO conferences
adho_authorship = authorships.loc[(authorships['work'].isin(adho_works_id))]
adho_authors_id = adho_authorship['author'].unique()
adho_works_authors_institutions = works_authors_institutions.loc[(
    works_authors_institutions['work_id'].isin(adho_works_id))]

In [55]:
# make some summaries and aggregations: authors

# ranking
adho_author_counts = adho_works_authors_institutions.pivot_table(
    index='author_id', aggfunc={
        'work_id': 'count'
    }, fill_value=0).reset_index()
adho_author_counts.columns = ['author_id', 'n_works']

adho_unique_authors_names = adho_works_authors_institutions[[
    'author_id', 'full_name'
]].drop_duplicates()
adho_authors_names = adho_unique_authors_names.groupby(
    ['author_id'])['full_name'].apply(' | '.join).reset_index()
adho_author_counts = adho_author_counts.merge(adho_authors_names,
                                              on='author_id',
                                              how='left')

adho_unique_authors_institutions = adho_works_authors_institutions[[
    'author_id', 'institution_name'
]].drop_duplicates()
adho_authors_institutions = adho_unique_authors_institutions.groupby(
    ['author_id'])['institution_name'].apply(' | '.join).reset_index()
adho_author_counts = adho_author_counts.merge(adho_authors_institutions,
                                              on='author_id',
                                              how='left')

adho_unique_authors_countries = adho_works_authors_institutions[[
    'author_id', 'institution_country'
]].drop_duplicates()
adho_authors_countries = adho_unique_authors_countries.groupby(
    ['author_id'])['institution_country'].apply(' | '.join).reset_index()
adho_author_counts = adho_author_counts.merge(adho_authors_countries,
                                              on='author_id',
                                              how='left')

adho_author_counts = adho_author_counts.sort_values('n_works', ascending=False)
adho_author_counts['n_work_percentage'] = round(
    ((adho_author_counts['n_works'] /
      (adho_author_counts['n_works'].sum())) * 100), 2)

# collaboration
adho_works_author_counts = adho_authorship.groupby(
    'work')['author'].nunique().reset_index()
adho_works_author_counts.columns = ['work_id', 'n_authors']
adho_works_author_counts = adho_works_author_counts.merge(adho_works,
                                                          on='work_id',
                                                          how='left')

In [56]:
# make some summaries and aggregations: institutions
adho_institutions_counts = adho_works_authors_institutions.groupby(
    'institution_id')['work_id'].size().reset_index().sort_values(
        'work_id', ascending=False)
adho_institutions_counts.columns = ['institution_id', 'n_works']

adho_unique_institutions = adho_works_authors_institutions[[
    'institution_id', 'institution_name', 'institution_country'
]].drop_duplicates()
adho_institutions_counts = adho_institutions_counts.merge(
    adho_unique_institutions, on='institution_id', how='left')
adho_institutions_counts = adho_institutions_counts.sort_values(
    'n_works', ascending=False)
adho_institutions_counts['n_work_percentage'] = round(
    ((adho_institutions_counts['n_works'] /
      (adho_institutions_counts['n_works'].sum())) * 100), 2)

In [57]:
# make some summaries and aggregations: countries

# ranking
adho_country_counts = adho_works_authors_institutions.pivot_table(
    index='institution_country', aggfunc={
        'work_id': 'count'
    }, fill_value=0).reset_index().sort_values('work_id', ascending=False)
adho_country_counts.columns = ['institution_country', 'n_works']
adho_country_counts['n_work_percentage'] = round(
    ((adho_country_counts['n_works'] /
      (adho_country_counts['n_works'].sum())) * 100), 2)

# through time
adho_works_authors_institutions = adho_works_authors_institutions.merge(
    adho_works, on='work_id', how='left')
adho_countries_year = adho_works_authors_institutions.pivot_table(
    index='institution_country', columns='year', aggfunc={
        'work_id': 'count'
    }).reset_index().fillna(0)
adho_countries_year['total'] = adho_countries_year.sum(axis=1)
adho_countries_year = adho_countries_year.sort_values('total', ascending=False)

## 3a. Overall stats

In [58]:
adho_n_authors = len(adho_authors_id)
adho_n_institutions = adho_works_authors_institutions[
    'institution_id'].nunique()
adho_n_countries = adho_works_authors_institutions[
    'institution_country'].nunique()

In [61]:
display(
    HTML('The ADHO filtered dataset contains in total:<br> <ul><li><b>' +
         str(adho_n_authors) +
         ' different authors</b>, affiliated to</li><li><b>' +
         str(adho_n_institutions) +
         '</b> different institutions, in</li><li><b>' +
         str(adho_n_countries) + '</b> different countries.</li></ul>'))

### I. Top 10 ADHO authors

In [64]:
adho_author_counts.head(10)

,author_id,n_works,full_name,institution_name,institution_country,n_work_percentage
3,3,58,Geoffrey Rockwell | G. Rockwell,University of Alberta | McMaster University,Canada,0.49
165,184,51,Susan Brown | Susan Irene Brown,University of Guelph | University of Alberta,Canada,0.43
4,4,47,Stéfan Sinclair,McMaster University | McGill University | University of Alberta,Canada,0.40
5,5,45,Melissa Terras,University College London | University of Edinburgh | Friedrich-Schiller-Universität Jena,United Kingdom | Germany,0.38
4448,7963,38,Maciej Eder | Eder Maciej,Polish Academy of Sciences | Pedagogical University of Krakow,Poland,0.32
14,14,35,Stan Ruecker,University of Alberta | Illinois Institute of Technology,Canada | United States,0.30
23,23,32,David L. Hoover | David Hoover | David Lowell Hoover,New York University,United States,0.27
64,66,26,Claire Warwick,University of Sheffield | University College London | King's College London | University of Durham,United Kingdom,0.22
51,53,26,Susan Schreibman,"University of Maryland, College Park | Royal Irish Academy | Trinity College Dublin | Maynooth University (National University of Ireland, Maynooth) | Maastricht University",United States | Ireland | Netherlands,0.22
4370,6814,25,Ray Siemens | Raymond George Siemens | Raymond Siemens,University of Victoria | Texas A&M University,Canada | United States,0.21

### II. Top 10 institutions of ADHO authors

In [65]:
adho_institutions_counts.head(10)

,institution_id,n_works,institution_name,institution_country,n_work_percentage
0,384,243,King's College London,United Kingdom,2.06
1,974,236,"University of Illinois, Urbana-Champaign",United States,2.00
2,893,217,University of Alberta,Canada,1.84
3,694,188,Stanford University,United States,1.59
4,884,177,University College London,United Kingdom,1.50
5,1010,160,"University of Maryland, College Park",United States,1.36
6,1204,159,Royal Netherlands Academy of Arts and Sciences (KNAW),Netherlands,1.35
7,728,145,Texas A&M University,United States,1.23
8,1122,142,University of Virginia,United States,1.20
9,1120,141,University of Victoria,Canada,1.19

### III. Top 10 countries of ADHO authors' institutions

In [66]:
adho_country_counts.head(10)

   institution_country  n_works  n_work_percentage
77  United States       3737     31.66
25  Germany             1294     10.96
76  United Kingdom      1133     9.60
10  Canada              1016     8.61
23  France              593      5.02
48  Netherlands         560      4.74
36  Japan               372      3.15
68  Switzerland         325      2.75
35  Italy               312      2.64
2   Australia           241      2.04

## 3b. Time stats

### I. Top 10 countries through time

In [67]:
adho_countries_year.head(10)

     institution_country work_id                                            \
year                        2006   2007   2008   2009   2010   2011   2012
77    United States       120.0   172.0  146.0  216.0  116.0  192.0  135.0
25    Germany             13.0    11.0   22.0   5.0    34.0   18.0   109.0
76    United Kingdom      38.0    22.0   40.0   37.0   49.0   73.0   71.0
10    Canada              31.0    22.0   49.0   28.0   58.0   47.0   53.0
23    France              27.0    5.0    0.0    4.0    9.0    6.0    19.0
48    Netherlands         8.0     5.0    13.0   4.0    15.0   13.0   33.0
36    Japan               2.0     4.0    6.0    29.0   36.0   24.0   20.0
68    Switzerland         2.0     0.0    0.0    0.0    0.0    0.0    6.0
35    Italy               8.0     3.0    18.0   8.0    4.0    3.0    14.0
2     Australia           10.0    3.0    4.0    3.0    10.0   3.0    3.0

                                                               total
year   2013   2014   2015   2016   2017   2018   2019   2020
77    320.0  327.0  207.0  323.0  401.0  398.0  189.0  475.0  3737.0
25    45.0   159.0  65.0   192.0  154.0  86.0   224.0  157.0  1294.0
76    76.0   133.0  86.0   119.0  86.0   51.0   149.0  103.0  1133.0
10    103.0  107.0  70.0   60.0   107.0  56.0   69.0   156.0  1016.0
23    10.0   36.0   24.0   111.0  47.0   47.0   172.0  76.0   593.0
48    23.0   40.0   35.0   81.0   36.0   48.0   167.0  39.0   560.0
36    18.0   35.0   36.0   35.0   31.0   21.0   28.0   47.0   372.0
68    10.0   50.0   32.0   70.0   50.0   29.0   44.0   32.0   325.0
35    17.0   36.0   10.0   80.0   8.0    20.0   78.0   5.0    312.0
2     17.0   21.0   101.0  14.0   7.0    16.0   16.0   13.0   241.0

# 4. Tools mentioned in ADHO abstracts

In [68]:
# import original datasets
adho_tools = pd.read_csv("data/tools-dh-proceedings.csv")
adho_tools['total'] = adho_tools.sum(axis=1)
adho_tools = adho_tools.sort_values('total', ascending=False)

### I. Top 10 tools 2015 - 2019

In [69]:
adho_tools.head(10)

             Tool  2015  2016  2017  2018  2019  total
169  Python        9     22    27    32    35    125
213  Twitter       10    18    26    16    12    82
78   Gephi         11    16    14    10    9     60
101  JavaScript    8     18    12    6     15    59
141  Omeka         4     9     11    14    6     44
80   GitHub        2     6     17    5     10    40
89   HathiTrust    9     11    10    4     3     37
188  stylo         4     13    6     6     6     35
118  MALLET        7     8     7     8     3     33
81   Google Books  6     8     8     4     5     31

# 5. Export the data tables

In [70]:
# timeline of conferences colored by series
conferences.to_csv('data/viz_timeline.csv', index=False)

# timeline ADHO topics by year
adho_topics_time_matrix.to_csv('data/viz_adho_topics.csv', index=False)

# timeline ADHO tools
adho_tools.to_csv('data/viz_adho_tools.csv', index=False)

# timeline ADHO authors per work
adho_works_author_counts.to_csv('data/viz_adho_n_authors.csv', index=False)

# top countries affiliated
adho_country_counts.to_csv('data/viz_adho_countries.csv', index=False)

# countries affiliated through time
adho_countries_year.to_csv('data/viz_adho_countries_years.csv', index=False)